* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 15px #c5c5c5;
    border-radius: 5px;
    max-width: 350px;
}


/*  */

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
    margin-bottom: 30px;
}