main .map {
  background-image: url("../../assets/images/Map.png");
  height: 500px;
  background-size: cover;
}

main .map .contact-card {
  background-color: #FFFFFF;
  position: absolute;
  padding: 32px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 583px;
  height: 446px;
  top: 202px;
  left: 75px;
}

main .map .contact-card h3 {
  color: #41BEAD;
}

main .map .contact-card p {
  color: #565656;
}

main .map .contact-card .time {
  color: #FF9100;
}

main .map .contact-card .info {
  flex-flow: row wrap;
  display: flex;
}

main .map .contact-card .info .info-card {
  margin-right: 24px;
}

main .map .contact-card .info .working-time {
  margin: 0px;
}

main .map .contact-card .info .working-time .content {
  display: flex;
  flex-flow: column;
}

main .map .contact-card .info .working-time .content .inner-content.first {
  margin-bottom: 18px;
}

main .map .contact-card .info .working-time .content .inner-content {
  display: flex;
}

main .map .contact-card .info .working-time .content .inner-content .time {
  width: 100%;
}

main .map .contact-card .info .working-time .content .inner-content p {
  padding: 0px;
  margin: 0px;
}

main .map .contact-card button {
  margin: 16px 0px 32px 130px;
}

main .send-us-wrapper {
  display: flex;
  justify-content: center;
}

main .send-us-wrapper h1 {
  color: #41BEAD;
}

main .send-us-wrapper p,
main .send-us-wrapper textarea {
  color: #919191;
}

main .send-us-wrapper .send-us {
  width: 850px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 96px;
}

main .send-us-wrapper .send-us input,
main .send-us-wrapper .send-us textarea {
  width: 409px;
  padding: 16px 52px 16px 16px;
  border-radius: 6px;
  border: 1px solid #919191;
}

main .send-us-wrapper .send-us .header-email {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

main .send-us-wrapper .send-us textarea {
  height: 192px;
  width: 850px;
  margin-bottom: 32px;
}

main .send-us-wrapper .send-us button {
  align-self: flex-start;
  width: 140px;
  height: 48px;
}

main .how-to-go {
  background-color: #FFF8E1;
}

main .how-to-go .container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

main .how-to-go h3,
main .how-to-go h4 {
  color: #41BEAD;
  margin: 0px;
  padding-bottom: 0px;
}

main .how-to-go p {
  padding: 0px;
}

main .how-to-go h3 {
  margin-bottom: 48px;
  margin-top: 96px;
}

main .how-to-go h4 {
  margin-bottom: 2px;
}

main .how-to-go .options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
}

main .how-to-go .metro,
main .how-to-go .busses,
main .how-to-go .small-busses {
  width: 409px;
}
