.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.wrapper__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}