@import '../../base/colors';
footer {
    h5 {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Lato', sans-serif;
        color: $white;
    }
}

.grey {
    height: 12px;
    background-color: $grey-500;
}

.black {
    justify-content: space-between;
    padding: 0px 75px 0px 75px;
    display: flex;
    max-height: 312px;
    height: 100%;
    background-color: $grey-700;
}

.big-eye {
    img {
        position: relative;
        bottom: 91px;
    }
}

.uls {
    display: flex;
    ul {
        list-style: none;
        padding: 0px 24px 0px 0px;
        li {
            padding-bottom: 12px;
            color: $grey-200;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: none;
        }
    }
}

.kids,
.allCourses,
.initiatives,
.findUs {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.allCourses {
    padding-bottom: 90px;
}

.findUs {
    padding-bottom: 30px;
    p {
        margin-top: 48px;
        max-width: 177px;
        color: $grey-500;
    }
    h5 {
        margin-bottom: 24px;
    }
    .icons {
        img {
            margin-right: 30px;
        }
    }
}

.uls ul li {
    &:hover {
        color: $green-primary-300;
        cursor: pointer;
    }
}

.icons img {
    width: 28px;
    height: 28px;
    &:hover {
        filter: invert(66%) sepia(81%) saturate(306%) hue-rotate(122deg) brightness(84%) contrast(91%);
        cursor: pointer;
    }
}