@import '../../base/colors';
.contact-card {
    background-color: $white;
    position: absolute;
    padding: 32px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 12px;
    width: 583px;
    height: 446px;
    top: 202px;
    left: 75px;
    h3 {
        color: $green-primary-300;
        margin: 24px 0px 24px 0px;
    }
    p {
        color: $grey-700;
    }
    .time {
        color: $orange-secondary-800;
    }
    button {
        margin: 16px 0px 32px 130px
    }
}

.info {
    flex-flow: row wrap;
    display: flex;
    .info-card {
        margin-right: 24px;
        width: 216px;
    }
    .working-time {
        margin: 0px;
        .content {
            .inner-content.first {
                margin-bottom: 18px;
            }
            display: flex;
            flex-flow: column;
            .inner-content {
                display: flex;
                .time {
                    width: 100%;
                }
                p {
                    padding: 0px;
                    margin: 0px;
                }
            }
        }
    }
}