.join-us-top {
  height: 12px;
  background-color: #92CDFB;
}

.join-us {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #66B9F8;
  max-height: 400px;
}

.join-us .header {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin-bottom: 48px;
}

.join-us .header h1,
.join-us .header p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
}

.join-us .header h1 {
  margin-bottom: 24px;
  margin-top: 64px;
}

.join-us .header p {
  max-height: 40px;
  max-width: 850px;
}

.send-wrapper {
  margin-bottom: 106px;
  display: flex;
  justify-content: center;
}

.send-wrapper .send {
  width: 936px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.send-wrapper .send .field {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 228px;
}

.send-wrapper .send .field p {
  padding: 16px 52px 16px 16px;
  margin: 0px;
  color: #FFFFFF;
}

.send-wrapper .send button {
  max-width: 140px;
  max-height: 48px;
  font-size: small;
}
