* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin-left: 40px;
}

main {
    max-width: 70%;
}

aside {
    max-width: 30%;
    vertical-align: top;
}

main,
aside {
    display: inline-block;
}