.navigation ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navigation ul li {
  color: #565656;
  padding: 29px 12px;
  margin-right: 24px;
}

.navigation ul li:hover {
  color: #FF9100;
  cursor: pointer;
}

.navigation ul :last-child {
  margin: 0px;
}
