header nav .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header nav .container .navigation-wrapper {
  display: flex;
  flex-flow: row wrap;
}

header nav .container .navigation-wrapper article img {
  margin: 0px 32px 0px 32px;
}

header nav .container .logo {
  display: flex;
}

header nav .container .logo .arrow {
  margin-right: 16px;
}

header nav .container section {
  justify-content: center;
  align-items: center;
}

header .info {
  height: 302px;
  flex-flow: column;
  background-color: #FFB402;
}

header .info h1,
header .info p {
  color: #FFFFFF;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

header .info p {
  max-width: 860px;
  margin-top: 24px;
}
