main .people {
  margin-bottom: 128px;
  margin-top: 96px;
}

main .people .horizontal-pipe {
  margin-bottom: 96px;
}

main .people .bosses {
  margin-bottom: 96px;
  display: flex;
}

main .people .bosses .profile-pic {
  display: flex;
  align-self: flex-start;
  margin-right: 32px;
  border-radius: 50%;
  border: 8px solid #41BEAD;
}

main .people .bosses .vqra {
  margin-right: 32px;
  display: flex;
}

main .people .bosses .vqra .grey-p {
  color: #B2B2B2;
  margin-bottom: 24px;
}

main .people .bosses .vqra h3,
main .people .bosses .vqra p {
  margin: 0px;
  padding: 0px;
  color: #565656;
}

main .people .bosses .vqra h3 {
  margin-bottom: 8px;
  color: #41BEAD;
}

main .people .bosses .vqra .text {
  max-width: 409px;
}

main .people .teachers {
  display: grid;
  justify-content: center;
  row-gap: 64px;
  column-gap: 32px;
  grid-template-rows: 242px 242px 242px 242px;
  grid-template-columns: 264px 264px 264px 264px;
}

main .people .teachers .teacher {
  display: flex;
  flex-flow: column;
}

main .people .teachers .teacher img {
  align-self: center;
  width: 175px;
  height: 172px;
  border-radius: 50%;
  border: 8px solid #41BEAD;
}

main .people .teachers .teacher h3,
main .people .teachers .teacher p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main .people .teachers .teacher p {
  color: #B2B2B2;
}

main .people .teachers .teacher h3 {
  margin: 24px 0px 8px 0px;
  color: #41BEAD;
}

main .join-us-top {
  height: 12px;
  background-color: #92CDFB;
}

main .join-us {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #66B9F8;
  max-height: 400px;
}

main .join-us .header {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin-bottom: 48px;
}

main .join-us .header h1,
main .join-us .header p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
}

main .join-us .header h1 {
  margin-bottom: 24px;
  margin-top: 64px;
}

main .join-us .header p {
  max-height: 40px;
  max-width: 850px;
}

main .join-us .send-wrapper {
  margin-bottom: 106px;
  display: flex;
  justify-content: center;
}

main .join-us .send-wrapper .send {
  width: 936px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

main .join-us .send-wrapper .send .field {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 228px;
}

main .join-us .send-wrapper .send .field p {
  padding: 16px 52px 16px 16px;
  margin: 0px;
}

main .join-us .send-wrapper .send button {
  max-width: 140px;
  max-height: 48px;
}
