* {
    box-sizing: border-box;
}

p,
h1,
h2 {
    margin: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.header-text p {
    font-size: 40px;
}

.header-img {
    max-width: 100px;
}

.header-img img {
    width: 100%;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    max-width: 1200px;
}

.left-side,
.right-side {
    width: 50%;
}

.left-side {
    padding-right: 30px;
    display: flex;
    flex-flow: row wrap;
}

.left-side-header {
    font-size: 11px;
}

.left-side-main p {
    font-size: 18px;
}

.card {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

.card-left {
    margin-right: 10px;
}