* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    margin: 0px;
}

img {
    display: block;
}


/* header */

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 40px;
}


/* main */

main {
    display: flex;
    flex-flow: row wrap;
}

.left-side,
.right-side {
    width: 50%;
}

.card {
    display: flex;
    align-items: center;
}

.card-right h2 {
    margin-bottom: 10px;
}

.card-right p {
    margin: 0px;
}

.card-left {
    margin-top: 15px;
    margin-right: 10px;
}

.right-side,
.left-side {
    padding-right: 15px;
    padding-left: 15px;
}