@import '../utilities/colors.scss';
main {
    .header {
        position: relative;
        bottom: 56px;
        display: flex;
        flex-flow: row wrap;
        width: 1290px;
        height: 112px;
        margin-bottom: 40px;
        border-radius: 12px;
        align-items: center;
        background-color: white;
        justify-content: space-evenly;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        .groups {
            display: flex;
            flex-flow: row wrap;
            width: 987px;
            justify-content: space-evenly;
            .group {
                align-items: center;
                display: flex;
                h4,
                p {
                    margin: 0px;
                    padding: 0px;
                }
                h4 {
                    color: $orange-secondary-800;
                    margin-top: 6px;
                }
                .img {
                    margin-right: 24px;
                }
            }
        }
    }
    .info {
        display: flex;
        color: $grey-700;
        align-items: center;
        margin-bottom: 66px;
        .text {
            max-width: 739px;
            max-height: 321px;
            width: 100%;
            height: 100%;
            p {
                width: 100%;
                height: 100%;
            }
        }
        .video {
            max-width: 440px;
            max-height: 248px;
            width: 100%;
            height: 100%;
            margin: 0px 75px 0px 111px;
            .girl {
                width: 100%;
                height: 100%;
                position: relative;
                bottom: 50px;
            }
            .playBtn {
                position: relative;
                top: 110px;
                z-index: 1;
                left: 187px;
            }
        }
    }
    .suitable {
        margin-bottom: 64px;
        padding-top: 66px;
        .bubble {
            position: relative;
            bottom: 20px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        .appropriate {
            width: 552px;
            height: 112px;
            display: flex;
            h2 {
                padding: 0px;
                margin: 0px;
                color: $grey-700;
                font-weight: 600;
            }
            img {
                position: relative;
                bottom: 39px;
                right: 32px;
            }
        }
        .after {
            display: flex;
            width: 552px;
            height: 201px;
            h2 {
                padding: 0px;
                color: $grey-700;
                font-weight: 600;
                margin: 0px;
            }
            img {
                position: relative;
                bottom: 118px;
                right: 32px;
            }
        }
    }
    .program {
        padding: 64px 0px 64px 0px;
        height: 554px;
        background-color: $orange-secondary-400;
        border: 1px solid #000000;
        display: flex;
        flex-flow: column wrap;
        .text {
            max-width: 675px;
            .heading {
                display: flex;
                h2 {
                    color: $grey-700;
                    margin-top: 0px;
                    position: relative;
                    right: 35px;
                }
                img {
                    position: relative;
                    right: 50px;
                    bottom: 15px;
                }
            }
            p {
                margin: 0px;
                padding: 0px;
                color: $grey-700;
            }
        }
        .information {
            justify-content: space-between;
            display: flex;
            .checklist {
                position: relative;
                top: 20px;
                right: 70px;
            }
            .dropdowns {
                h5 {
                    margin-bottom: 1px;
                    color: $grey-700;
                }
                max-width: 675px;
                width: 100%;
                display: flex;
                flex-flow: column;
                .dropdown-arrow {
                    position: relative;
                    top: 30px;
                    left: 310px;
                }
                .dropdown {
                    margin-bottom: 5px;
                    border-radius: 6px;
                    height: 50px;
                    padding-left: 14px;
                    color: $grey-700;
                    font-weight: bold;
                }
            }
        }
    }
    .classes {
        margin-top: 64px;
        .container {
            .certificate {
                margin-bottom: 106px;
                align-items: center;
                display: flex;
                flex-flow: row;
                .image {
                    p {
                        position: relative;
                        top: 165px;
                        left: 100px;
                    }
                }
                .text {
                    margin-right: 241px;
                    width: 608px;
                    img {
                        position: relative;
                        bottom: 35px;
                        right: 32px;
                    }
                    display: flex;
                    .information {
                        display: flex;
                        flex-flow: column;
                        h2 {
                            color: $grey-700;
                            font-weight: 600;
                            margin: 0px;
                        }
                    }
                    p {
                        color: $grey-700;
                    }
                }
            }
            .time {
                display: flex;
            }
        }
    }
}