@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    box-sizing: border-box;
}

img {
    display: block;
    border-radius: 5px;
    box-shadow: inset 0 0 10px black;
}

body {
    margin: 0;
}

.viewport {
    position: relative;
}

.card {
    display: block;
    position: absolute;
    /* Trick to center absolute element */
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.lake img {
    width: 400px;
    height: 300px;
}

.mountain img {
    width: 400px;
    height: 600px;
}

.first-container {
    background: #1e5799;
    background: -moz-linear-gradient(left, #1e5799 0%, #68c1a2 60%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #68c1a2 60%);
    background: linear-gradient(to right, #1e5799 0%, #68c1a2 60%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#68c1a2', GradientType=1);
    height: 500px;
}

.second-container {
    background: #c92896;
    background: -moz-linear-gradient(left, #c92896 0%, #d6a873 60%);
    background: -webkit-linear-gradient(left, #c92896 0%, #d6a873 60%);
    background: linear-gradient(to right, #c92896 0%, #d6a873 60%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c92896', endColorstr='#d6a873', GradientType=1);
    height: 800px;
}

.fa-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}

.fa-star {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}