* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-flow: column wrap;
}

.container :nth-child(11) {
    order: 1;
}

.container :nth-child(2) {
    order: 2;
}

.container :nth-child(12) {
    order: 3;
}

.container :nth-child(4) {
    order: 4;
}

.container :nth-child(8) {
    order: 5;
}

.container :nth-child(9) {
    order: 6;
}

.container :nth-child(3) {
    order: 7;
}

.container :nth-child(6) {
    order: 8;
}

.container :nth-child(5) {
    order: 9;
}

.container :nth-child(1) {
    order: 10;
}

.container :nth-child(3) {
    order: 11;
}

.container :nth-child(7) {
    order: 11;
}

.container :nth-child(10) {
    order: 12;
}

span {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    min-width: 100px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}