$white: #FFFFFF;
$orange-secondary-50: #FFF8E1;
$orange-secondary-900: #FF7100;
$orange-secondary-400: #FFCB29;
$orange-secondary-800: #FF9100;
$orange-secondary-700: #FF9100;
$orange-secondary-500: #FFC20A;
$orange-secondary-600: #FFB402;
$grey-700: #565656;
$grey-300: #D6D6D6;
$grey-400: #B2B2B2;
$grey-500: #919191;
$grey-200: #E6E6E6;
$green-primary-300: #41BEAD;
$blue-400: #44A9F8;
$blue-200: #92CDFB;
$blue-300: #66B9F8;