.cards--wrapper .cards.container .card .header--blue .label--violet, .cards--wrapper .cards.container .card .header--blue .label--gray, .cards--wrapper .cards.container .card .header--green .label--gray {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.cards--wrapper .cards.container .card .header--blue, .cards--wrapper .cards.container .card .header--green {
  min-height: 160px;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}

.cards--wrapper .cards.container .card .header--blue .label--gray, .cards--wrapper .cards.container .card .header--green .label--gray {
  background: #676781;
}

.cards--wrapper {
  margin: 50px 0;
}

.cards--wrapper .cards.container {
  display: flex;
  justify-content: space-between;
}

.cards--wrapper .cards.container .card {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  max-width: 400px;
}

.cards--wrapper .cards.container .card .title {
  text-align: center;
}

.cards--wrapper .cards.container .card .content {
  text-align: center;
  padding: 15px 0;
}

.cards--wrapper .cards.container .card .content .info {
  display: inline-block;
  width: 40%;
  margin: 5px 0;
}

.cards--wrapper .cards.container .card:hover {
  cursor: pointer;
}

.cards--wrapper .cards.container .card .header--green {
  background: #41BEAD;
}

.cards--wrapper .cards.container .card .header--blue {
  background: #44A9F8;
}

.cards--wrapper .cards.container .card .header--blue .label--violet {
  background: #9A5DC6;
}

.cards--wrapper .cards.container .card .footer {
  padding: 20px;
  text-align: center;
}

.cards--wrapper .cards.container .card .footer .price {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FC4C50;
  margin-right: 20px;
}

.cards--wrapper .cards.container .card .footer::before {
  content: '';
  background: #F1F1F1;
  width: 360px;
  height: 1px;
  display: inline-block;
  position: relative;
  top: -20px;
}

.card:hover .content,
.card:hover .footer {
  background: #F8F8F8;
}
