.footer .grey {
  background-color: #919191;
  min-height: 12px;
  margin-top: 116px;
}

.footer .black {
  max-height: 312px;
  display: flex;
  background-color: #565656;
  align-items: flex-start;
  justify-content: space-around;
}

.footer .black .big-eye {
  position: relative;
  bottom: 91px;
}

.footer .black ul {
  margin: 100px 0px 0px 0px;
  padding: 0px;
}

.footer .black ul h4 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 22px;
  color: #E6E6E6;
  margin-top: 12px;
}

.footer .black ul li {
  color: #E6E6E6;
  list-style-type: none;
  margin: 12px 0px 12px 0px;
}

.footer .black ul li:hover {
  color: #41BEAD;
}

.footer .black .findUs p {
  max-width: 180px;
  color: #919191;
}

.footer .black .findUs .icons {
  display: flex;
}

.footer .black .findUs .icons:hover {
  cursor: pointer;
}

.footer .black .findUs .icons img {
  margin-right: 30px;
  margin-top: 24px;
}
